{% extends 'base-inner.html.twig' %}

{% block pagetitle %}About Invest in Africa{% endblock %}
{% block leadingtext %}What is Invest in Africa?{% endblock %}
{% block bannerimage %}style="background-image: url('{{ asset('/bundles/app/images/banners/aboutIIA.jpg') }}');background-size: cover;background-repeat: no-repeat;"{% endblock %}
{% block body %}
<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <p>Invest in Africa (IIA) is a not-for-profit organisation with the vision to create thriving African economies. Working in partnership with both private and public sector companies, IIA more effectively identifies and tackles the challenges of doing business in Africa, delivering more impactful and cost-efficient solutions.</p>
      <p>We do this in 4 ways:</p>
      <ul class="list-with-number cols2">
        <li> Creating sustainable cross-sector partnerships</li>
        <li> Empowering local enterprise</li>
        <li> Championing private sector-led growth</li>
        <li> Simplifying doing business in Africa</li>
      </ul>
      <p>We believe the challenges of doing business in Africa cannot be solved by one company or one sector alone. But by pooling resources and sharing knowledge, IIA leverages existing and new opportunities to drive long-term growth across African economies. </p>
      <h6 class="demo-section-title">Our Initiatives</h6>
      <p>IIA is focused on job creation and improving the business environment for both investors and local SMEs. Our priority is to increase the linkages between large international and domestic companies and smaller local business and increase access to skills, markets and finance.</p>
      <!--<ul class="list-with-number">
        <li> <strong>The African Partner Pool (APP)</strong> is IIA’s online marketplace that allows SMEs to promote the products and services they can deliver and the standards they can deliver to. This makes it easier for big companies to find the right local suppliers to work with.</li>
        <li> <strong>The Business Linkage Programme (BLP)</strong> is IIA’s business skills training programme part-funded by the African Development Bank. The BLP gives members of the APP the opportunity to receive coaching and mentoring from international and local consultants as well as IIA Partners to make them more competitive and more able to win business from larger companies.</li>
      </ul>-->
      <h6 class="demo-section-title">Where we work</h6>
      <p>IIA has offices in the UK, Ghana, Kenya and Senegal. The APP was launched in Ghana in late 2014, while the BLP began training with the first group of SMEs in September 2015.</p>
      <p>IIA Kenya opened in October 2015 and the APP was later launched in 2017.</p>
      <p><a href="http://www.investinafrica.com/" target="_blank">More about Invest in Africa</a></p>
    </div>
  </div>
</div>
{% endblock %}
