{% extends 'base-inner.html.twig' %}

{% block pagetitle %}Business Excellence  Programme{% endblock %}
{% block leadingtext %}IIA's capacity building programme {% endblock %}
{% block bannerimage %}style="background-image: url('{{ asset('/bundles/app/images/banners/linkage.jpg') }}');background-position: center;background-size: cover;background-repeat: no-repeat;"{% endblock %}
{% block body %}
<div class="container">
  <div class="row">
    <div class="col-md-8">
      <p>Invest in Africa (IIA), in collaboration with the African Development Bank’s Fund for African Private Sector Assistance (FAPA), launched the Business Linkage Programme in 2015 to increase long term partnerships between investors and local suppliers.</p>
      <p>Building on the African Partner Pool’s objective to improve the visibility of local suppliers, the Business Linkage Programme will go one step further by improving the capacity for local businesses to deliver goods and services to time ,quality and scale, thereby meeting the long term needs of investors and winning more business.</p>
      <p>According to our 2014 report <em><a href="https://www.appghana.com/Uploads//contentuploads/e1ab21aa-062b-4575-812b-facc5a5c0635/file.pdf" target="_blank">David &amp; Goliath</a>,</em><span class="apple-converted-space"><i> </i></span>local businesses struggle to access affordable finance and embed the adequate management strategies to meet the challenges of doing business in Ghana, which stifles innovation and the ability to develop new business.</p>
      <p>The Business Linkage Programme will prepare local businesses to better meet these challenges through entrepreneurial, management and technical training. Local businesses that demonstrate a real desire to embed recommended systems will have the opportunity to receive coaching and mentoring from international and local consultants as well as IIA Partners.</p><p>Local businesses that graduate from the programme will have been taught how to produce their products and services efficiently and to the specifications of their clients, attracting long term business and increasing their ability to reinvest in the company and turn new ideas into successful products.</p>
      <p><strong>If you are interested in </strong><strong>accessing $30,000 worth of world class business training </strong><strong>simply</strong><strong> follow these two simple steps: </strong></p>
      <ol><li><strong>R</strong><strong>egister on the APP</strong><strong> as a ‘local supplier’,</strong></li><li><strong>Then send an email expressing your interest to <a href="mailto:BLP@investinafrica.com">BLP@investinafrica.com</a></strong></li></ol>
    </div>
    <div class="col-md-4">
      <div class="uou-sidebar">
        <img src="{{ asset('bundles/app/images/linkage-small.jpg') }}" class="img-responsive"/>
        <h6>Do you want to:</h6>
        <ul class="list-icon">
          <li><i class="fa fa-circle"></i> Win new business or export to new markets?</li>
          <li><i class="fa fa-circle"></i> Gain international accreditation?</li>
          <li><i class="fa fa-circle"></i> Or access affordable finance?</li>
        </ul>
        <a href="#" class="btn mb20 btn-medium btn-transparent-primary">Apply for training </a>

        <img src="https://www.appkenya.com/bundles/app/images/ujuzi/supplier.jpg" class="img-responsive">
        <p class="pt20">Want to find out how to win new business? Got a question about taxes or managing cash flow? The Business Growth Hub has the answers to ensure your company's future is sustainable and successful.</p>
        <a href="/business-growth-hub" class="btn mb20 btn-medium btn-transparent-primary">Visit our Business Growth Hub </a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
