{% extends 'base-inner.html.twig' %}

{% block pagetitle %}Contact IIA{% endblock %}
{% block leadingtext %}Get in touch with us {% endblock %}
{% block body %}
<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h2>Your message has been sent successfully.</h2>
      <h5>Thank you for your enquiry. It has been forwarded to the relevant department and will be dealt with as soon as possible.</h5>
    </div>
  </div>
</div>
{% endblock %}
