{% extends 'base-inner.html.twig' %}

{% block pagetitle %}How to Join African Partner Pool{% endblock %}
{% block leadingtext %}An intro to the APP{% endblock %}
{% block bannerimage %}style="background-image: url('{{ asset('/bundles/app/images/banners/how-it-works.jpg') }}');background-size: cover;background-repeat: no-repeat;"{% endblock %}
{% block body %}
<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <img src="{{ asset('bundles/app/images/steps.png') }}" />
    </div>
  </div>
</div>
{% endblock %}
