{% extends 'base-inner.html.twig' %}

{% block pagetitle %}Business Network Hub{% endblock %}
{% block leadingtext %}Foster direct relationships with like-minded businesses {% endblock %}
{% block bannerimage %}style="background-image: url('{{ asset('/bundles/app/images/banners/network.jpg') }}');background-size: cover;background-repeat: no-repeat;"{% endblock %}
{% block body %}
<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <p>The adage "your network is your net worth" is truer today as we live in a hyper-connected universe. Business operates in a 24-hour cycle and opportunities are available from all sources. This makes networking with like-minded people critical to your business</p>
      <p>This is why we created the Network Hub, to encourage and foster direct relationships between business people. </p>
      <p>It is a private community where like-minded business people connect to discover new prospects, learn from each other, interact and share experiences. It is your gateway to curated events, networking opportunities and the minds of entrepreneurs and business leaders who will help you on your journey to success.</p>
      <p></p>
      <p>Through our Network Hub you can:</p>
      <ol>
        <li>Advertise your goods and services through our Catalogue feature and gain new business ideas from other like-minded business owners/entrepreneurs.</li>
        <li>Connect to online events such as Mentored Talks and presentations by our regular experienced entrepreneurs and thought leaders.</li>
        <li>Access/post events such as Seminars, Cocktails and Workshops to help improve your visibility and growth.</li>
      </ol>
      <p><a href="https://iia.hivebrite.com/topics/13163/feed">CONNECT NOW!</a></p>
    </div>
  </div>
</div>

{% endblock %}
