{% extends 'base-inner.html.twig' %}

{% block pagetitle %}Our Partners{% endblock %}
{% block leadingtext %}Our Partners work with IIA across all our countries of operation.{% endblock %}
{% block bannerimage %}style="background-image: url('{{ asset('/bundles/app/images/banners/our-partners.jpg') }}');background-size: cover;background-repeat: no-repeat;"{% endblock %}
{% block body %}
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h3>Global Partners</h3>
      <p>Partners in this category have committed to working with Invest in Africa across the globe as we grow our footprint and impact. </p>
    </div>
  </div>
</div>
<div class="partners">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <img src="http://appkenya.com/bundles/app/images/logos/tullow-left.png" class="img-responsive hidden-xs hidden-sm">
                <img src="http://appkenya.com/bundles/app/images/logos/tullow.png" class="img-responsive hidden-lg hidden-md">
            </div><!-- /.col-md-4 -->
            <div class="col-md-8">
                <div class="services-text-1">
                    <h3><a href="http://www.tullowoil.com/" target="_blank">Tullow Oil</a></h3>
                    <p>Tullow Oil is Africa’s leading independent oil and gas exploration company. It also has a presence in more than 25 countries across the world. Committed to sustainable development, Tullow Oil has partnered with Invest in Africa to help shepherd the growth of SMEs on the continent. </p>
                </div><!-- /.services-text-1 -->
            </div><!-- /.col-md-8 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</div>
<!--
<div class="partners">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <img src="http://appkenya.com/bundles/app/images/logos/equity-left.png" class="img-responsive hidden-xs hidden-sm">
                <img src="http://appkenya.com/bundles/app/images/logos/equity.png" class="img-responsive hidden-lg hidden-md">
            </div><!-- /.col-md-4 -->
          <!--  <div class="col-md-8">
                <div class="services-text-1">
                    <h3><a href="http://ke.equitybankgroup.com/" target="_blank">Equity Bank</a></h3>
                    <p>Equity Bank is the largest financial institution in Kenya in terms of outlets and customer accounts. Its expansion into the wider Eastern and Central Africa region has given the bank an in-depth understanding of SMEs and their contribution to the socio-economic development of countries. This is why Equity Bank works with Invest in Africa as a financial partner, particularly in the Eastern and Central Africa region. </p>
                </div><!-- /.services-text-1 -->
          <!--  </div><!-- /.col-md-8 -->
      <!--  </div><!-- /.row -->
  <!--  </div><!-- /.container -->
  <!--
</div>
-->

<div class="partners">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <img src="http://appkenya.com/bundles/app/images/logos/ecobank-left.png" class="img-responsive hidden-xs hidden-sm">
                <img src="http://appkenya.com/bundles/app/images/logos/ecobank.png" class="img-responsive hidden-lg hidden-md">
            </div><!-- /.col-md-4 -->
            <div class="col-md-8">
                <div class="services-text-1">
                    <h3><a href="https://www.ecobank.com/personal-banking" target="_blank">Ecobank</a></h3>
                    <p>Ecobank is unparalleled as a pan-African financial institution, with operations currently in 34 countries on the continent. This gives it the ability to provide services to multinational companies wherever they may work. Ecobank is Invest in Africa’s financial partner in the West African region. </p>
                </div><!-- /.services-text-1 -->
            </div><!-- /.col-md-8 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</div>
<div class="partners bg-f2f2f2">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <img src="http://appkenya.com/bundles/app/images/logos/clyde.png" class="img-responsive">
            </div><!-- /.col-md-4 -->
            <div class="col-md-8">
                <div class="services-text-1">
                    <h3><a href="http://www.clydeco.com/" target="_blank">Clyde &amp; Co</a></h3>
                    <p>Clyde and Co is a global law firm with offices in over 40 countries. With a strong focus on emerging markets, Clyde and Co has been active in Africa for over 20 years and works across all 55 jurisdictions on the continent. It is this commitment to Africa that led to Clyde and Co working with Invest in Africa as our legal advisory partner. </p>
                </div><!-- /.services-text-1 -->
            </div><!-- /.col-md-8 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</div>
<div class="partners">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <img src="http://appkenya.com/bundles/app/images/logos/trace.png" class="img-responsive">
            </div><!-- /.col-md-4 -->
            <div class="col-md-8">
                <div class="services-text-1">
                    <h3><a href="http://www.traceinternational.org/" target="_blank">TRACE International</a></h3>
                    <p>Trace International is one of the pre-eminent organisations championing commercial transparency. This is critical for global trade, particularly in the oil and gas industry that has immense supply chains and suppliers. With its suite of anti-bribery compliance solutions and due diligence processes, Trace International is Invest in Africa’s partner with a particular focus on the validation component of the African Partner Pool. </p>
                </div><!-- /.services-text-1 -->
            </div><!-- /.col-md-8 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</div>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <hr>
      <h3>Local Partners</h3>
      <p>These organisations work with Invest in Africa in Ghana, to helping us in our journey to growing SMEs.</p>
    </div>
  </div>
</div>
<div class="partners bg-f2f2f2">
  <div class="container">
      <div class="row">
          <div class="col-md-4">
              <img src="/uploads/documents/Guinness Ghana Breweries Limited/5a5f19b664ddd.png" class="img-responsive">
          </div><!-- /.col-md-4 -->
          <div class="col-md-8">
              <div class="services-text-1">
                  <h3><a href="https://www.guinnessghana.com/about/overview/" target="_blank">Guinness Ghana Breweries Limited</a></h3>
                  <p>Guinness Ghana Breweries Limited (GGBL) is the leading Total Beverage Business in Ghana with an outstanding collection of brands across beers, stouts, non-alcoholic and spirits. </p>
              </div><!-- /.services-text-1 -->
          </div><!-- /.col-md-8 -->
      </div><!-- /.row -->
  </div><!-- /.container -->
</div>
<div class="partners">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
      <img src="http://appkenya.com/bundles/app/images/logos/ey-left.png" class="img-responsive hidden-xs hidden-sm">
      <img src="http://appkenya.com/bundles/app/images/logos/ey.png" class="img-responsive hidden-lg hidden-md">
      </div><!-- /.col-md-4 -->
      <div class="col-md-8">
          <div class="services-text-1">
              <h3><a href="http://www.ey.com/" target="_blank">EY</a></h3>
              <p>EY is Invest in Africa’s quality assurance partner, providing strategic management and planning insights to the African Partner Pool. This fits in with the company’s commitment to sustainable development and promoting responsible business practices on the continent. </p>
          </div><!-- /.services-text-1 -->
      </div><!-- /.col-md-8 -->
    </div><!-- /.row -->
  </div><!-- /.container -->
</div>
<div class="partners bg-f2f2f2">
  <div class="container">
      <div class="row">
          <div class="col-md-4">
              <img src="/uploads/documents/AB &amp; David Africa/5a5f19c5b310d.png" class="img-responsive">
          </div><!-- /.col-md-4 -->
          <div class="col-md-8">
              <div class="services-text-1">
                  <h3><a href="https://www.abdavid.com/" target="_blank">AB & David Africa</a></h3>
                  <p>AB & David Africa is a Pan-African business law firm that assists world-wide clients in 24 African countries. Set up in Mauritius and with offices in Ghana, Zambia, Botswana, Zimbabwe and Liberia with affiliates in Rwanda, Sierra Leone and Burundi as well as a network of best friend firms that enables it to assist clients and friends. </p>
              </div><!-- /.services-text-1 -->
          </div><!-- /.col-md-8 -->
      </div><!-- /.row -->
  </div><!-- /.container -->
</div>
<div class="partners">
  <div class="container">
      <div class="row">
          <div class="col-md-4">
              <img src="/uploads/documents/Ghana Investment Promotion Centre/5a5f19785ad6b.png" class="img-responsive">
          </div><!-- /.col-md-4 -->
          <div class="col-md-8">
              <div class="services-text-1">
                  <h3><a href="http://www.gipcghana.com/">Ghana Investment Promotion Centre</a></h3>
                  <p>Ghana Investment Promotion Centre (GIPC) co-ordinates and monitors all investment activities and assists domestic and foreign investors.</p>
              </div><!-- /.services-text-1 -->
          </div><!-- /.col-md-8 -->
      </div><!-- /.row -->
  </div><!-- /.container -->
</div>
<div class="partners bg-f2f2f2">
  <div class="container">
      <div class="row">
          <div class="col-md-4">
              <img src="/uploads/documents/Association of Ghana Industries/5a5f2cf633ab5.png" class="img-responsive">
          </div><!-- /.col-md-4 -->
          <div class="col-md-8">
              <div class="services-text-1">
                  <h3><a href="http://www.agighana.org/" target="_blank">Association of Ghana Industries</a></h3>
                  <p>The Association of Ghana Industries (AGI) is a voluntary business association of over 1200 members, made up of small, medium and large scale manufacturing and services industries in agro-processing (food and beverages), agri-business, pharmaceuticals, electronics and electrical, telecommunications, information technology, utilities, service industries, transport, construction, textiles, garments and leather, banking and advertising.</p>
              </div><!-- /.services-text-1 -->
          </div><!-- /.col-md-8 -->
      </div><!-- /.row -->
  </div><!-- /.container -->
</div>
<div class="partners">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <img src="/uploads/documents/MODEC Ghana Limited/5a5f2b1f23938.png" class="img-responsive hidden-xs hidden-sm">
                <img src="" class="img-responsive hidden-lg hidden-md">
            </div><!-- /.col-md-4 -->
            <div class="col-md-8">
              <div class="services-text-1">
                <h3><a href="http://www.modec.com/" target="_blank">MODEC Ghana Limited</a></h3>
                <p>Founded in 1968, MODEC is a general contractor specializing in engineering, procurement, construction and installation of floating production systems including Floating Production Storage and Offloading (FPSO) vessels, Floating Storage and Offloading (FSO) vessels, Tension Leg Platforms (TLPs), Production Semi-Submersibles, Mobile Offshore Production Units (MOPUs) and other new technologies which will meet the challenges of various types of gas production floaters.</p>
                <div class="meta">
                  <span class="time-ago">Japan</span> <span class="category"> <a href="http://www.modec.com/" target="_blank">http://www.modec.com/</a></span>
                </div>
              </div><!-- /.services-text-1 -->
            </div><!-- /.col-md-8 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
  </div>
  <div class="partners bg-f2f2f2">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <img src="https://www.newsghana.com.gh/wp-content/uploads/2017/06/GCB_brandmark.png" class="img-responsive">
            </div><!-- /.col-md-4 -->
            <div class="col-md-8">
                <div class="services-text-1">
                    <h3><a href="https://www.gcbbank.com.gh/" target="_blank">GCB Bank Limited</a></h3>
                    <p>Formerly Ghana Commercial Bank, now legally GCB Bank Ltd. The second largest bank in Ghana by net profit and total assets, licensed by Bank of Ghana, the national banking regulator.</p>
                </div><!-- /.services-text-1 -->
            </div><!-- /.col-md-8 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
  </div>
  <div class="partners">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <img src="/bundles/app/img/partners/Canon.jpg" class="img-responsive">
            </div><!-- /.col-md-4 -->
            <div class="col-md-8">
                <div class="services-text-1">
                    <h3><a href="https://www.canon.co.uk/contact_us/canon_europe_middle_east_and_africa_offices/canon_contacts/ghana.aspx">Canon</a></h3>
                    <p>Canon is a leading technology company in Business Imaging covering both the office and professional printing environments and Consumer Imaging - input solutions such as;film and digital SLR cameras, digital still compact cameras, camcorders, binoculars, calculators and scanners; and output solutions -inkjet and laser printers, faxes, desktop all-in-ones and multimedia projectors. In addition to business and consumer operations, Canon's Broadcast Division is an extension of our product portfolio covering the supply and servicing of professional lenses and their accessories to the Television Broadcasting industry.</p>
                </div><!-- /.services-text-1 -->
            </div><!-- /.col-md-8 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
  </div>

{% endblock %}
