{% extends 'base.html.twig' %}

{% block body %}
<div id="page-body">
  <div id="page-body">
    <div class="flat-row pad-top90px pad-bottom90px">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                <h4><strong>APP PLATFORM PRIVACY STATEMENT</strong></h4>
                <p><strong>Privacy Policy</strong></p>
<p>This Privacy Statement outlines how Invest In Africa through APP uses and protects any information that you give Invest In Africa when you use <span style="color: #0000ff;"><u><a href="https://www.appghana.com/">www.appghana.com</a></u>. If you have questions or comments about this Privacy Statement or the processing of personal data collected on this website, contact us by email at <span style="color: #0000ff;"><u><a href="mailto:app@investinafrica.com">app@investinafrica.com</a></u><span style="color: #0000ff;"><u>.</u></p>
<p>&nbsp;</p>
<p><strong>What information do we collect and why?</strong></p>
<p>Invest In Africa collects identifying information from visitors to the website, visitors to Invest In Africa landing pages, when you use the Service or when you download content. Details of the information collected, and how it is used is given below:</p>
<p>&nbsp;</p>
<p><strong>Contact Information</strong> &ndash; In order to provide you with the service that you have requested or a particular query that you have submitted, Invest In Africa collects information including, but not limited to, information relating to your name, job description, contact details (e.g. postal address, email, telephone) business or other details that you may provide us with. Contact information may be used periodically to send promotional emails about new products, special offers or other information which we think you may find interesting. </p>
<p>In addition, contact information provided may be used to contact you to participate in market research, customer surveys or to customize the website according to your interests. We may receive a confirmation when you open an e-mail or if your computer supports this type of program, in order to help us make e-mails more interesting and helpful. Company identification information supplied by you may be used to create a profile used to identify your organisation (see organisation profiles below).</p>
<p>&nbsp;</p>
<p><strong>Organisation Profiles</strong> &ndash; Upon registration of a new Member, Invest In Africa automatically creates a profile for that Member organisation. The information on these pages is controlled by the Member through their biashara.now account. Invest In Africa is not responsible for any content displayed on these pages and it is the sole responsibility of the Member to maintain their profile correctly.</p>
<p>&nbsp;</p>
<p><strong>Specific Business Information</strong> &ndash; Specific Business Information requested and supplied by Customers or Registered Members of Invest In Africa is transferred only between the requesting and supplying parties and is not visible or accessible to any other Customer or Registered Member of Invest In Africa. This arises, usually, but is not limited to, during the course of tenders, requests for information, proposals and quotations. Invest In Africa may use submitted information in the preparation of high level statistical reporting as part of the service to members or for internal purposes. Such reporting contains only anonymous, aggregated data forms so as not to identify your company or relate any specific data to it.</p>
<p>&nbsp;</p>
<p><strong>Our Protection of Your Data</strong> &ndash; Invest In Africa shall have the right to access to your account and to use, modify, reproduce, distribute, display and disclose your data solely to the extent necessary to provide the service in response to your support requests. You have the right to opt out of this grant of access permission at any time during the subscription term. We shall not (a) modify your data; or (b) access your data except as necessary to provide the Invest In Africa services, to prevent or address service or technical problems, or at your request in connection with your customer support matters.</p>
<p>&nbsp;</p>
<p><strong>Disclosure</strong></p>
<p>By registering with appghana.com you are becoming a member of the Invest In Africa network. Should you qualify for membership of another platform you will be notified of your inclusion. Registered Supplier Members will have the opportunity to secure more business and Registered Buyer Members will have the opportunity to access validated quality suppliers. Members can opt out of inclusion in any other platform without affecting their Invest In Africa Member status. Use of other platforms provided by Invest In Africa is governed by the Terms and Conditions of Website Usage of each platform. Invest In Africa will not sell, distribute or lease your personal information to third parties unless we have your permission or are required by law to do so. We may use your personal information to send you promotional information about third parties which we think you may find interesting if you tell us that you wish this to happen.</p>
<p>&nbsp;</p>
<p><strong>Right of Access</strong></p>
<p>You have a right to be given a copy of your personal data retained by Invest In Africa. If you required a copy of this information, please send a request in writing to <span style="color: #0000ff;"><u><a href="mailto:app@investinafrica.com">app@investinafrica.com</a></u> with subject &ldquo;Access Request&rdquo; in the subject bar. The request must originate from a registered company email account.</p>
<p>&nbsp;</p>
<p><strong>Right of Rectification or Erasure</strong></p>
<p>Should personal data held by us be found to be inaccurate, you have the right to have this data corrected. Where there is no legitimate reason for retaining your data, you have the right to have this data erased. If you require rectification or erasure of data, please send a request in writing to <a href="mailto:app@investinafrica.com"><span style="color: #0000ff;"><u>app@investinafrica.com</u> w</a>ith &ldquo;Rectification of Personal Data Request&rdquo; or &ldquo;Erasure of Personal Data Request&rdquo; in the subject bar. The request must originate from a registered company email account.</p>
<p>&nbsp;</p>
<p><strong>Cookies</strong></p>
<p><strong>What are cookies</strong> - A cookie is a small computer software file which asks permission to be placed on your computer's hard drive. Once you agree, the file is added and the cookie helps analyse web traffic or lets you know when you visit a particular site. Cookies allow web applications to respond to you as an individual. The web application can tailor its operations to your needs, likes and dislikes by gathering and remembering information about your preferences and communicating with you appropriately.</p>
<p>&nbsp;</p>
<p><strong>How we use cookies</strong> - We use traffic log cookies to identify which pages are being used. This helps us analyse data about web page traffic and improve our website in order to tailor it to customer needs. Overall, cookies help us provide you with a better website, by enabling us to monitor which pages you find useful and which you do not. A cookie in no way gives us access to</p>
<p>your computer or any information about you, other than the data you choose to share with us. You can choose to accept or decline cookies. Most web browsers automatically accept cookies, but you can usually modify your browser settings to decline cookies if you prefer. This may prevent you from taking full advantage of the website.</p>
<p>&nbsp;</p>
<p><strong>Security</strong></p>
<p>At Invest In Africa, we are committed to ensuring that your information is secure. In order to prevent unauthorized access or disclosure we have put in place suitable physical, electronic and managerial procedures to safeguard and secure the information we collect online.</p>
                </div><!-- /.col-md-6 -->
            </div><!-- /.row -->
        </div><!-- /.container -->
    </div>
  </div>
</div>
{% endblock %}
