{% extends 'base-inner.html.twig' %}

{% block pagetitle %}Registration Successful{% endblock %}

{% block title %}Registration Successful{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-10 col-md-offset-2">
          <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 130.2 130.2">
            <circle class="path circle" fill="none" stroke="#73AF55" stroke-width="6" stroke-miterlimit="10" cx="65.1" cy="65.1" r="62.1"/>
            <polyline class="path check" fill="none" stroke="#73AF55" stroke-width="6" stroke-linecap="round" stroke-miterlimit="10" points="100.2,40.2 51.5,88.8 29.8,67.5 "/>
          </svg>
          <h4 class="text-center">Your registration details have been submitted successfully</h4>
          <p>Please take the following steps to complete registration:</p>
          <p>1. An email verification link has been sent to your email, click on the link to verify your email.<br/>
          <em>If you did not receive an email in your inbox, it might be in your junk folder. If so, please move it to your inbox in order to white list future notifications from APP Ghana.</em></p>
          <p>2. Log into APP and follow the guided steps to complete subscription onto APP and submit the detailed business questionnaire.</p>
        </div><!-- /.col-md-12 -->
    </div><!-- /.row -->
</div><!-- /.container -->
{% endblock %}
