{% extends 'base-inner.html.twig' %}

{% block pagetitle %}Our Services{% endblock %}
{% block leadingtext %}We connect you to finance, capacity building and advisory support {% endblock %}
{% block bannerimage %}style="background-image: url('{{ asset('/bundles/app/images/banners/services.jpg') }}');background-size: cover;background-repeat: no-repeat;"{% endblock %}
{% block body %}
<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h4>Access to Finance</h4>
      <p>We work through established financial institutions to support SMEs seeking financial support. Our experienced Finance Advisors support SMEs through the application process, to ensure SMEs are better positioned to meet the lending criteria of private equity firms and banks to successfully attain funding. To-date over $1.7M debt financing has been disbursed to SMEs to support their businesses.</p>
      <p><a href="https://appghana.com/contact">Contact us</a> for more information. </p>
      
      <h4>Access to Skills</h4>
      <p>Our capacity building programmes support SMEs through one-on-one consultancy, mentorship and coaching opportunities.  We equip SMEs with business skills required to meet tender requirements and quality standards of large corporates; ultimately integrating them into their supply chains.</p>
      <p><a href="https://appghana.com/contact">Contact us</a> for more information. </p>
      
      <h4>Advisory Services</h4>
      <p>Our team of dedicated independent consultants and firms are on hand to provide comprehensive commercial, financial and strategic advice. Service areas include:</p>
      <ol>
        <li>Tax</li>
        <li>Legal</li>
        <li>HR</li>
        <li>Procurement and supply chain</li>
      </ol>
      <p><a href="https://appghana.com/contact">Contact us</a> for more information. </p>
    </div>
  </div>
</div>

{% endblock %}
