{% extends 'base.html.twig' %}

{% block body %}
<div id="page-body">
  <div id="page-body">
    <div class="flat-row pad-top90px pad-bottom90px">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                <h4><strong>AFRICAN PARTNER POOL (APP) PLATFORM TERMS AND CONDITIONS</strong></h4>
<p>These terms and conditions are valid, legally binding and enforceable against all persons that access the African Partner Pool platform, web pages or any part thereof. If you do not agree to be bound by these terms and conditions you may not use the platform. Any use of the platform shall automatically bind the user to this agreement.</p>
<p>&nbsp;</p>
<p><strong>DEFINITION AND INTERPRETATION</strong></p>
<p>&ldquo;IIA&rdquo; means Invest In Africa, <a href="http://www.investinafrica.com/">http://www.investinafrica.com</a><strong>, </strong>registration number CG124032014 including its subsidiaries, shareholders and business units;</p>
<p>The &ldquo;APP&rdquo; platform means the African Partner Pool website, <a href="https://www.appghana.com/">https://www.appghana.com</a> owned and operated by Invest In Africa (IIA); </p>
<p>&ldquo;User&rdquo; means any person who enters or uses the APP platform, notwithstanding the fact that such a person only visits the home page of the APP;</p>
<p>References herein to the singular includes the plural and vice versa; and</p>
<p>The fact that some or all of the hyperlinks may, from time to time, be non-operational, shall not affect the validity and interpretation of these terms and conditions.</p>
<p>&nbsp;</p>
<p><strong>RIGHTS AND LIMITATIONS</strong></p>
<p>The content that you post to the African Partner Pool remains your own property. You only allow Invest in Africa the non-exclusive worldwide right to use, copy, modify, distribute, publish and process the information and content that you provide through the APP. This also includes the right to sub-licence without any further consent, notice or compensation to you or others. </p>
<p>&nbsp;</p>
<p>These rights are limited in the following ways:</p>
<p>You can end this licence by deleting specific content or by closing your account, except (a) to the extent you shared it with others as part of the Service and they copied or stored it and (b) for the reasonable time it takes to remove from backup and other systems.</p>
<p>IIA will not include your content in advertisements for the products and services of others (including sponsored content), to others, without your separate consent. However, we have the right, without compensation to you or others, to serve advertisements near your content and information, and your comments on sponsored content may be visible. </p>
<p>IIA will get your consent if we need to give others the right to publish your posts beyond the African Partner Pool. However, other members or visitors to the platform may access and share your information.</p>
<p>IIA may edit your information to fit our formatting, but will not wholeheartedly change the content.</p>
<p>Your content remains your own and you may make it available to others without further reference to IIA.</p>
<p>IIA shall not be liable, in any manner whatsoever, for any damage, loss or liability that resulted from the use of content, products or services available from the APP platform, if such content, products or services was accessed through a hyperlink not directed at the home page of the APP website. Persons that wish to link to pages beyond the home page of the APP platform without IIA&rsquo;s prior written consent shall do so at their own risk and indemnify IIA against any loss, liability or damage that may result from the use of such hyperlinks.</p>
<p>&nbsp;</p>
<p><strong>SECURITY STATEMENT</strong></p>
<p>We take the security of your content and all transactions on the APP seriously. To this end, we have implemented security safeguards in accordance with best-practice industry standards. To protect your data stored on our servers, we regularly conduct security and stress tests to protect against vulnerabilities. Whereas IIA takes all necessary precaution to secure your login credentials and all other information, it shall be upon the owner of the information to protect their devices from malware, viruses and other intrusions that would compromise their data security.</p>
<p>IIA shall not be held liable for any malpractice, illegal or criminal activities on the part of the owner of the information.</p>
<p>&nbsp;</p>
<p><strong>GENERAL GUIDELINES FOR USING THE AFRICAN PARTNER POOL</strong></p>
<p>No person under the age of 18 may use the African Partner Pool without the supervision of a parent or guardian.</p>
<p>Users of the APP cannot conduct, display or transact in illegal commodities, services or products as outlined by the laws of Kenya. This includes running phishing campaigns, automatically harvesting member data or conducting unlawful multi-level marketing (pyramid schemes). </p>
<p>Users will refrain from acting dishonestly or misrepresenting themselves or their businesses in any manner.</p>
<p>All APP users will act appropriately always and refrain from uploading objectionable content. This includes everything related to pornography and sexual services, drugs and alcohol, and promotion of criminal acts or conduct. </p>
<p>IIA does not tolerate any form of cybercrimes, bullying or harassment on the APP. Respect all members of the platform. </p>
<p>All APP users will not try and subvert the security protocols of the APP, for example by uploading viruses or malicious code.</p>
<p>Users cannot use any representation of the IIA or APP brands without the express written consent of Invest in Africa.</p>
<p>Users must only use valid payment methods as defined by IIA.</p>
<p>All advertising on the platform must be approved by Invest In Africa prior to posting of the adverts.</p>
<p>The African Partner Pool is a platform that allows businesses and individuals to connect directly and trade. Invest in Africa cannot alter, interfere or influence any transaction and cannot be held liable for any losses or inconveniences experienced as a result of a tender or opportunity on the African Partner Pool.</p>
<p>Users use the forum service at their own risk and indemnify IIA against any liability, loss and / or damage resulting from a User&rsquo;s postings.</p>
<p>IIA may electronically collect, store and use the following information of Users:</p>
<p>Company name;</p>
<p>Registration number;</p>
<p>Company registration number;</p>
<p>VAT/PIN number;</p>
<p>Tax compliance details;</p>
<p>Individuals name and titles;</p>
<p>Identity number or Passport number;</p>
<p>Postal area code;</p>
<p>Street address;</p>
<p>Postal address;</p>
<p>Contact numbers;</p>
<p>Non-personal browsing habits and click patterns;</p>
<p>E-mail address;</p>
<p>IP address; and / or</p>
<p>User selected username and password.</p>
<p>IIA collects, stores and uses the abovementioned information for the following purposes:</p>
<p>to communicate requested information to the User;</p>
<p>to provide services to the User as requested by the User;</p>
<p>to authenticate the User;</p>
<p>to provide the User with access to restricted pages on this website; and</p>
<p>to compile non-personal statistical information about browsing habits, click-patterns and access to the APP platform.</p>
<p>By registering on the APP Platform, Users give authority to IIA to send regular email and SMS communications regarding the APP Platform.</p>
<p>IIA provides access to the online products and services 24 (twenty-four) hours per day. However, IIA is not liable for periods of non-accessibility or unintended results from use of its online services and products and IIA shall not be liable for any damage caused by a malfunction or a cease of the website to be operative, except as indicated in this Section. If access to (a part of) the online services or products is not possible or do not function as intended as a result of a system breakdown or malfunctioning of IIA online hardware and/or software infrastructure, IIA will make all reasonable efforts to solve this problem. IIA will inform all relevant Clients if the access problem or unintended results cannot be solved within 72 (seventy-two) hours (Saturdays and Sundays not included) after discovery of the non-accessibility by IIA. </p>
<p>Information detailed above is collected either electronically by using cookies or is provided voluntarily by the User. Users may determine cookie use independently through their browser settings. For purposes of this clause, a cookie means a small computer file created by a web browser to save user information for web site</p>
<p>&nbsp;</p>
<p><strong>DISCLAIMER AND LIMITATION OF LIABILITY</strong></p>
<p>IIA (including its shareholders, employees, suppliers, Internet service providers, partners, affiliates and agents) shall not be liable for any damage, loss or liability of any nature incurred by whomever and resulting from:</p>
<p>Access to the APP platform;</p>
<p>Access to websites linked to the APP platform;</p>
<p>Inability to access the APP platform;</p>
<p>Inability to access websites linked to the APP platform;</p>
<p>Content available on the APP platform;</p>
<p>Services available from the APP platform;</p>
<p>Products available from the APP platform;</p>
<p>Downloads and use of content from the APP platform; and / or</p>
<p>Any other reason not directly related to APP&rsquo;s gross negligence.</p>
<p>APP platform is supplied on an "as is" basis and has not been compiled to meet the User's individual requirements. It is the responsibility of the User to satisfy himself or herself, prior to entering into this agreement with the IIA, that the content available from and through the APP platform meet the User's individual requirements and is compatible with the User's computer hardware and / or software.</p>
<p>Information, ideas and opinions expressed on the APP platform should not be regarded as professional advice or the official opinion of IIA, and Users are encouraged to consult professional advice before taking any course of action related to the information, ideas or opinions expressed on the APP platform.</p>
<p>IIA does not make any warranties or representation that content and services available from the APP platform shall in all cases be true, correct or free from any errors. IIA shall take all reasonable steps to ensure the quality and accuracy of content available from the APP platform.</p>
<p>IIA does not make any warranties or representations that the APP platform shall be available at all times. Users acknowledge that the APP platform may be unavailable due to updates or other causes beyond the reasonable control of IIA, including, but not limited to virus infection, unauthorised access (hacking), power failure or other &ldquo;acts of God&rdquo;.</p>
<p><strong>ENTIRE AGREEMENT AND SEVERABILITY</strong></p>
<p>These terms and conditions constitute the entire agreement between IIA and the User and shall take precedence over any disclaimers and / or legal notices attached to any prior to communications and / or postings received by IIA from the User.</p>
<p>Any failure by IIA to exercise or enforce any right or provision shall in no way constitute a waiver of such right or provision.</p>
<p>In the event that any term or condition detailed herein is found unenforceable or invalid for any reason, such term(s) or condition(s) shall be severable from the remaining terms and conditions. The remaining terms and conditions shall remain enforceable and applicable.</p>
<p><strong>IIA USER AGREEMENT</strong></p>
<p>The User and IIA agree that:</p>
<p>The User shall be bound to these terms and conditions and such agreement is concluded in Kenya at the time the User accesses the APP platform for the first time;</p>
<p>Electronic signatures, encryption and / or authentication are not required for valid electronic communications between the User and IIA.</p>
<p><strong>LEGAL COSTS</strong></p>
<p>IIA shall not be liable for costs incurred by Users to obtain professional advice relating to these terms and conditions.</p>
<p align="center"><span style="font-size: x-large;"><strong>END</strong></p>
                </div><!-- /.col-md-6 -->
            </div><!-- /.row -->
        </div><!-- /.container -->
    </div>
  </div>
</div>
{% endblock %}
